body {
    background-color: rgb(255, 251, 246);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(169, 138, 103);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

header ul li {
    display: inline-block;
    background-color: rgb(130, 106, 78);
}

li a {
    text-decoration: none;
    color: black;
    padding: 1vw;
}

a:hover {
    background-color: black;
    color: rgb(130, 106, 78);
}

div.container {
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 75%;
    text-align: center;
    background-color: rgb(248, 236, 222);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: large;
    background-color: rgb(196, 219, 202);
    margin-right: 12%;
}

.filter_box {
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 201, 169);
    padding-bottom: 10%;
}

.checkbox {
    display: grid;
    grid-template-columns: max-content max-content;
    margin: auto;
}

div.checkbox:nth-child(even) {
    color: rgb(62, 90, 39);
}

h5 {
    font-size: large;
    color: rgb(20, 34, 24);
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
}

div.product {
    background-color: rgb(233, 217, 185);
    padding: 0% 5% 5% 5%;
    margin: 3%;
}

.img_price_buy {
    display: grid;
    grid-template-columns: auto auto;
}

img {
    width: 60%;
    padding: 10%;
    background-color: rgb(205, 180, 141);
}

.filter_box label:first-of-type {
    color: rgb(20, 58, 58);
}

.price_buy {
    margin-right: 10%;
}

p {
    border: 1px solid rgb(174, 130, 65);
    background-color: rgb(226, 192, 136);
}

button {
    border: none;
    background-color: rgb(186, 138, 113);
    color: beige;
}

button:active {
    color: rgb(219, 245, 238);
    background-color: rgb(74, 88, 67);
}

.h4 {
    font-size: larger;
    text-decoration: underline;
}

footer {
    background-color: rgb(153, 129, 99);
    text-align: center;
    padding: 1%;
}

#top {
    position: fixed;
    bottom: 5%;
    right: 1%;
    background-color: rgb(87, 111, 76);
    font-weight: 400;
    width: 5%;
    height: 7%;
}

#top a {
    text-decoration: none;
    color: rgb(210, 250, 208);
}

#top a:hover {
    background-color: rgb(152, 208, 155);
}

@media screen and (max-width:1200px) {
    ul {
        padding: 0%;
    }
    li {
        padding: 4%;
        margin: 1%;
    }
    li a {
        font-size: xx-large;
    }
    aside {
        display: none;
    }
    div.container {
        display: block;
    }
    main {
        display: grid;
        grid-template-columns: auto auto;
    }
    .img_price_buy {
        display: flex;
        padding: 3%;
    }
    .price_buy {
        margin: 0%;
        margin-left: 6%;
        display: grid;
        grid-template-rows: auto auto;
        padding: 2%;
    }
    img {
        width: 45%;
    }
    .price {
        margin-top: 50%;
        margin-bottom: 50%;
    }
    .button {
        height: max-content;
        padding: 10%;
        font-size: x-large;
    }
    p {
        font-size: xx-large;
    }
    #top {
        width: fit-content;
    }
    footer {
        height: 5vw;
        padding-top: 2vw;
    }
}

@media screen and (max-width:922px) {
    ul {
        padding: 0%;
    }
    li {
        padding: 4%;
        margin: 1%;
    }
    li a {
        font-size: larger;
    }
    aside {
        display: none;
    }
    div.container {
        display: block;
    }
    main {
        display: grid;
        grid-template-columns: auto auto;
    }
    .img_price_buy {
        display: flex;
        padding: 3%;
    }
    .price_buy {
        margin: 0%;
        margin-left: 4%;
        display: grid;
        grid-template-rows: auto auto;
        padding: 2%;
    }
    img {
        width: 50%;
    }
    .price {
        margin-top: 50%;
        margin-bottom: 50%;
    }
    .button {
        height: max-content;
        padding: 10%;
        font-size: larger;
    }
    p {
        font-size: larger;
    }
    #top {
        width: fit-content;
    }
    footer {
        height: 5vw;
        padding-top: 2vw;
    }
}

@media screen and (max-width:768px) {
    ul {
        padding: 0%;
    }
    li {
        padding: 4%;
        margin: 1%;
    }
    li a {
        font-size: larger;
    }
    aside {
        display: none;
    }
    div.container {
        display: block;
    }
    main {
        display: grid;
        grid-template-columns: auto auto;
    }
    .img_price_buy {
        display: flex;
        padding: 3%;
    }
    .price_buy {
        margin: 0%;
        margin-left: 4%;
        display: grid;
        grid-template-rows: auto auto;
        padding: 2%;
    }
    img {
        width: 50%;
    }
    .price {
        margin-top: 50%;
        margin-bottom: 50%;
    }
    .button {
        height: max-content;
        padding: 10%;
        font-size: larger;
    }
    p {
        font-size: larger;
    }
    #top {
        width: fit-content;
    }
}

@media screen and (max-width:576px) {
    ul {
        padding: 0%;
    }
    li {
        padding: 3%;
        margin: 1%;
    }
    li a {
        font-size: large;
    }
    aside {
        display: none;
    }
    div.container {
        display: block;
    }
    main {
        display: inline-block;
    }
    .img_price_buy {
        display: flex;
        padding: 3%;
    }
    .price_buy {
        margin: 0%;
        margin-left: auto;
        display: grid;
        grid-template-rows: auto auto;
    }
    img {
        width: 40%;
    }
    .price {
        margin-top: 50%;
        margin-bottom: 50%;
    }
    .button {
        height: max-content;
        padding: 10%;
        font-size: larger;
    }
    p {
        font-size: larger;
    }
    #top {
        width: fit-content;
    }
}

@media screen and (max-width:390px) {
    ul {
        display: none;
    }
    header {
        height: 10vw;
    }
    aside {
        display: none;
    }
    div.container {
        display: block;
    }
    main {
        display: inline-block;
    }
    .img_price_buy {
        display: flex;
        padding: 3%;
    }
    .price_buy {
        margin: 0%;
        margin-left: 5%;
        display: grid;
        grid-template-rows: auto auto;
    }
    img {
        width: 40%;
    }
    .price {
        height: fit-content;
        margin-top: 20%;
        margin-bottom: 5%;
    }
    .button {
        font-size: small;
    }
    p {
        font-size: larger;
    }
    #top {
        width: fit-content;
    }
}